:root {									/*Esta es una pseudo-clase, en esta se puede declarar por decir variables de css*/
	--azul: #0833a2;					/*En esta pseudo calse declararemos una paleta de colores*/
	--negro: #000000;
	--amarillo: #FFC433;
	--blanco: #FFFFFF;
	--gris: #757575;
}


html{
	font-size: 62.5%; /*se reinica el tamaño del documento*/
}

body{
	font-size: 16px;						/* Estas dos primeras lineas hacen que los rem sean sencillos de usar */
	font-family: 'Mukta', sans-serif;		/*1rem = 10px */
	}	


.titulo{
	text-align: center;
	font-size: 3.8rem;

}

/*h1.titulo span{ 			/* Este selector es ams especifico, ya que esta tomando la clase titulo de la etiqueta h1 */
	/*font-size: 2rem;		En este caso el orden no hace nada debido a que es mas sespecifico que el selector de abajo 
	color: red;
}*/

.titulo span{  				/*Emjeplo de especificidad*/
	text-align: center;
	font-size: 2rem;
}

/*Comentario Prueba Git*/
/*
span{
	font-size: 2rem;
	color: violet !important;  /* este important le pasa por encima a todas las otars declaraciones, por importancia NO RECOMENDADO 
}*/

.navegacion-principal{
	background-color: var(--azul);
}